[Unit]
Description=Benji Client
After=network.target

[Service]
ExecStart=/usr/local/bin/benjid
Restart=on-failure
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target